

body {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    max-width: 1080px;
    justify-content:center;
    margin: auto;
  }

  ul {
    list-style: none;
    display: flex;  
    justify-content:center;
    width: 600px;
    font-size: 12px;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
:link, :visited {
  text-decoration: none;
  color: #7D7D7D;

}

.hero {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-left: 55px;
  margin: auto;
}

.hero p {
  font-size: 10px;
  width: 512px;
}