body {
  align-items: center;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

button {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

header {
  margin: auto;
  width: 970px;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 14px;
  gap: 50px;
  font-family: Arial, Helvetica, sans-serif;  
}

:visited {
  color: unset;
}

header :link, header :visited {
  text-decoration: none;
  color: rgb(191, 191, 191);
}

header a:hover {
  background-color: black;
}

h1 {
  font-size: 30px;
  margin-top: 12px;
  margin-bottom: 50px;
}

.hero {
  width: 970px;
  margin: auto;
}

section:not(.skills) img {
  display: block;
}

.about {
  text-decoration: none;
  background: #F6F6F6;
  margin-top: 0;
  text-align: center;
  padding: 100px;
}


h2 {
  margin: 0;
}

.skills {
  padding: 100px;
  text-align: center;
}

.skills h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}

.skills h4 {
  color: #828282;
  font-size: 14px;
  height: 33px;
}

.skills li:last-child h4 {
  line-height: 33px;
}

.stars {
  display: flex;
}

.portfolio {
  text-align: center;
  background-color: #F6F6F6;
  padding: 100px;
}

.portfolio ul {
  display: unset;
}

.portfolio img {
  margin: 70px auto 40px;

}

footer {
  text-align: center;
  padding: 100px;
}

footer button {
  background: black;
  color: white;
  border: none;
  border-radius: 22px;
  padding: 10px 16px;
  font-size: 18px;
  font-weight: bold;
  margin: 60px auto 30px;
}

footer p:last-child {
  color: #828282;
  font-size: 14px;
}