

body {
  max-width: 1080px;
  align-items: center;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}

header {
    margin: auto;
    display: flex;
  }

  ul {
    list-style: none;
    display: flex;  
    justify-content:center;
    width: 600px;
    font-size: 12px;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    font-size: 30px;
    vertical-align: 0%;
  }
  
:link, :visited {
  text-decoration: none;
  color: #7D7D7D;

}

hero {
  background: #F6F6F6;
  text-align: center;
}

h2 {
}

/*.hero h2 {
  align-self: center;
}
.hero p {
  font-size: 10px;
  width: 512px;
}*/